body {
	background-color: #1C1C1C;
}

#kategorieDiv {
	text-indent:1em;
	margin-top: 0.5em;
	color: white;
	background-color: #00BFFF;
	opacity: 0.9;
	font-size: 0.75em;
}

#frageDiv {
	color: white;
	background-color: #A4A4A4;
	opacity: 0.7;
	
	height: 7em;
	
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	
	word-wrap: break-word;
	
	padding: 2em;
	margin: 0.5em;
	border-radius: 16px;
}

#antwortTabelle {
	display: table;
	color: white;
	width: 100%;
	
	text-align: center;
}

.row {
	display: table-row;
}

.row>button {
	display: table-cell;
	width: 45%;
}

.antwortButton {
	font-size: 1em !important;
	text-align: center;
	vertical-align: middle;
	display: visible;
	
	word-wrap: break-word !important;
	white-space: normal !important;
	line-height: normal !important;
	
	margin: 0.2em;
	height: 8em;
}

.buttonAusgewaehlt {
	background-color: blue !important;
	color: white !important;
}

.buttonFalsch {
	background-color: red !important;
}

.buttonRichtig {
	background-color: green !important;
}

.buttonRand {
	border: 2px solid #819FF7;
}

#nextButton {
	margin-top: 0.75em;
}

.popupDiv {
	position: absolute;
	
	/* opponent name's properties */
	color: white;
	text-shadow : 1px 1px blue
}