

#kategorieDiv {
	text-indent:1em;
	margin-top: 0.5em;
	color: white;
	opacity: 0.9;
	font-size: 0.75em; 
	font-weight: bold;
}

#frageDiv {
	color: white;
	background-color: #A4A4A4;
	opacity: 0.7;
	
	height: 7em;
	
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	
	word-wrap: break-word;
	
	padding: 2em;
	margin: 0.5em;
	border-radius: 16px;
}

#antwortTabelle {
	display: table;
	color: white;
	width: 100%;
	
	text-align: center;
}

.row {
	display: table-row;
}

.row>button {
	display: table-cell;
	width: 45%;
}

.antwortButton {
	font-size: 1em !important;
	text-align: center;
	vertical-align: middle;
	display: visible;
	
	word-wrap: break-word !important;
	white-space: normal !important;
	line-height: normal !important;
	/*färbt kleine linie am obenen inneren Rand des  Buttons!*/
	box-shadow: inset 0 1px rgba(255,255,255,0.36);
	
	margin: 0.2em;
	height: 8em;
	opacity: 0.85;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E4E4E4), to( #A4A4A4)); /* Saf4+, Chrome */
       /* background-image: -webkit-linear-gradient(#3c3c3c, #000000) !important; /* Chrome 10+, Saf5.1+ */
	text-shadow : 0px 0px white;
}

.buttonAusgewaehlt {
	/*background-color: #BEBEB9 !important; /* #39425B*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ECECEA), to(#BEBEB9)) !important; /* Saf4+, Chrome */
	color: white !important;
}

.buttonFalsch {
	/*background-color:  #CC0000 !important; */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F5CCCC), to( #CC0000)) !important; /* Saf4+, Chrome */
}

.buttonRichtig {
	/*background-color: #00FF00 !important; */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #99FF99), to( #00FF00)) !important; /* Saf4+, Chrome */
	color: white !important;
}

.buttonRand {
	border: 2px solid #39425B;  /*819FF7*/
}
/*
#nextButton {
	margin-top: 0.75em;
}
*/
.popupDiv {
	position: absolute;
	
	/* opponent name's properties */
	color: white;
	text-shadow : 1px 1px blue;
}

#timelineDiv {
	background-color: #2C7EAB;
	width: 100%;
	height: 0.5rem;
	
	/* set as footer */
	position: absolute;
	bottom: 0px; /* include unit as android's html viewer needs this */
}