#neuesSpielStartenButton {
	background-image: url("../images/plus.png");
	background-repeat: no-repeat;
	background-position:95% 50%;
	margin-bottom: 0.5rem !important;
	opacity: 0.85;
}

#neuesSpielStartenDIV{
margin-top: 1rem !important;
}


#username_div{
font-weight: bold;
}

.yourTurnButton {
	background-image: url("../images/profilbild.png");
	border: 1px solid back;
	opacity: 0.85;
}

.waitingForButton {
	background-image: url("../images/profilbild.png");
	border: 1px solid grey;
	opacity: 0.85;
}

.historyButton {
	background-image: url("../images/profilbild.png");
	border: 1px solid grey;
	opacity: 0.85;
}


.custom_icon_button_left {
	margin-bottom: 1em;
	width: 100%; 
	background-repeat: no-repeat;
	background-position: 5% 50%;
	background-size: 2em;
	margin-bottom: 0.2rem;
	
}

.custom_icon_button_right {
	margin-bottom: 1em;
	width: 100%; 
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 2em;
}

.custom_list {
margin-top: 1rem;
}

.custom_list_item {
	padding: 0.75rem !important;
}


.textmid {
	text-align: center;
    color: white;
	font-size: 20px;
}
.textklein {
	font-size: 11px;
}

.Rand1{
border: 1px solid black;
margin: -8px;
}

.Rand2{
margin: -8px;
}

.pictureleft {
text-align: left;
background-image: url("../images/profilbild.png">);
}

#AbmeldenButton{
color: white;
text-shadow: 0 0px rgba(0,0,0,0.36);
box-shadow: inset 0 1px rgba(255,255,255,0.36);
background-position: 0px 0px;
/*background-color: #ec514e; */
opacity: 0.85;
background-image: -webkit-gradient(linear, left top, left bottom, from( #F5CCCC), to( #CC0000)) !important; /* Saf4+, Chrome */

}
#SyncButton{
margin-bottom: 0.2rem;
opacity: 0.85;
}