
#kategorieText {
	margin-top: 0.3em;
	color: black;
	opacity: 0.9;
	/*font-size: 1.5em; */
}

.button {
	margin-top: 2em;
	width: 80%;
	font-size: 1.0em;
	opacity: 0.85;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E4E4E4), to( #A4A4A4)); /* Saf4+, Chrome */
    
}