
.custom_List_item {
	padding: 0.75rem !important;
	/*
	margin-left: 60px; 
	vertical-align: middle;
	list-style-image: url("../images/profilbild.png"); 
	list-style-type: none;
	*/
}
.custom_icon_button {
	margin-bottom: 1em;
	width: 100%; 
	background-repeat: no-repeat;
	background-position: 98% 50%;
	background-size: 3em;
}

#spielerSuchenButton {
	background-image: url("../images/lupe.png");
}

#beliebigerSpielerButton {
<<<<<<< HEAD
	background-image: url("../images/Würfel_Icon@2x.png");
=======
	background-image: url("../images/lupe.png");
}

#freundeslisteDiv{
border-radius: 0.2rem;
}

#freundesliste_header{
border-radius: 0.2rem;
>>>>>>> 89ee42fc9cedae18470abd163a20d010080e7437
}