
.custom_List_item {
	/*
	margin-left: 60px; 
	vertical-align: middle;
	list-style-image: url('../images/profilbild_Klein.jpg'); 
	list-style-type: none;
	*/
}
.custom_icon_button {
	margin-bottom: 1em;
	width: 100%; 
	background-repeat: no-repeat;
	background-position: right;
	background-size: 3em;
}

#spielerSuchenButton {
	background-image: url("../images/lupe.png");
}

#beliebigerSpielerButton {
	background-image: url("../images/lupe.png");
}