#tableDiv {
	display: table;
	width: 95%;
}

#tableDiv>div {
	display: table-row;
}

.leftColumn, .rightColumn, .middleColumn {
	display: table-cell;
	padding-bottom: 0.8em;
}

.leftColumn, .rightColumn {
	width: 40%;
}

.leftColumn {
	text-align: left;
}

.middleColumn {
	width: 15%;
	text-align: center;
}

.rightColumn {
	text-align: right;
}

.spielernameDiv {
	font-size: 1.3em;
}

#scoreDiv {
	font-size: 1.4em;
	padding-bottom: 1em;
}

/* Runden */
.rundenInline {
	/* marker class */
}

.rundenInline>div {
	display: inline-block;
}

.bilder {
	width: 30px;
	height: 30;
}

.quadrat {
	width: 2em;
	height: 2em;
	border-radius: 3px;
	margin-left: 0.1em;
	margin-right: 0.1em;
	opacity: 0.85;
}

.greenBackground {
	/*background-color: green !important; */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #99FF99), to( #00FF00)) !important; /* Saf4+, Chrome */

		border: 1px solid black;
}
.redBackground {
	/*background-color: red !important; */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F5CCCC), to( #CC0000)) !important; /* Saf4+, Chrome */

		border: 1px solid black;
}

.greyBackground {
	/*	background-color: grey !important; */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E4E4E4), to( #A4A4A4)); /* Saf4+, Chrome */
		border: 1px solid black;
}


.rundeDetailText {
	font-size:13px;
	vertical-align: middle;
}