body {
	background-color: #1C1C1C;
}

.custom_List_item {
	
	/*
	margin-left: 60px; 
	vertical-align: middle;
	list-style-image: url('../images/profilbild_Klein.jpg'); 
	list-style-type: none;
	*/
}

#search_username_input{
	background-image: url("../images/Lupe.png"); 
}
#sucheButton{
	background-image: url("../images/Lupe.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 3em;
	
	width: 3.4em;
	height: 3.4em;
	
	margin-top: 1em;
	padding-bottom: 1.6em;

}

#addFriendButton{
	background-image: url("../images/addicon.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3em;
	
	width: 2.4em;
	height: 2.4em;
	border-radius: 50%;
	padding-top: 0.7em;
}

#suchTabelle_div {
	display: table;
	width: 100%; 
}

#ergebnislisteDiv{
	visibility: hidden;
	display: table;
	width: 100%;
}

.row {
	display: table-row;
}

.row>div {
	display: table-cell;
}

.leftColumn, .rightColumn {
	display: table-cell;
}

.leftColumn {
    display: table-cell;
	text-align: left;
	width: 90%;
}

.rightColumn {
	display: table-cell;
	text-align: middle;
	width: 10%;
}
