
.custom_List_item {
	
	/*
	margin-left: 60px; 
	vertical-align: middle;
	list-style-image: url('../images/profilbild_Klein.jpg'); 
	list-style-type: none;
	*/
}

#search_username_input{
	background-image: url("../images/lupe.png"); 
}
.sucheButton{
	background-repeat: no-repeat;
	background-position: bottom right;

	
	width: 4.0em;
	height: 4.5em;
	


}
.leftColumn, .rightColumn, .middleColumn {
	display: table-cell;
	padding-bottom: 0.8em;
}

.leftColumn, .rightColumn {
	width: 40%;
	display: table-cell;
}

.leftColumn {
	text-align: left;
}

.middleColumn {
	width: 15%;
	text-align: center;
}

.rightColumn {
	text-align: right;
	vertical-align: middle;
}

#addFriendButton{
	background-image: url("../images/addicon.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3em;
	
	width: 2.4em;
	height: 2.4em;
	border-radius: 50%;
	padding-top: 0.6em;
}

#suchTabelle_div {
	display: table;
	width: 100%; 
}

#iconsDiv {
	display: table-row;
}

#ergebnislisteDiv{
	visibility: hidden;
	display: table;
	width: 100%;
}

.row {
	display: table-row;
}

.row>div {
	display: table-cell;
}

.leftColumn, .rightColumn {
	display: table-cell;
}

.leftColumn {
    display: table-cell;
	text-align: left;
	width: 90%;
}

.rightColumn {
	display: table-cell;
	text-align: middle;
	width: 10%;
}
